


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    flex: 1;
    display: flex;
    background-color: #1f2937;
    justify-content: space-evenly;
    align-items: center;
    gap: 90px;
    
}

.header .logo{
    color: #f9faf8;
    font-size: 24px;
}

.header-links{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding-right: 15px;

}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}


.main-container {
    display: flex;
    flex-direction: column;
}

.sectionone{
    flex: auto;
    display: flex;
    background-color: #1f2937;
    padding: 50px 75px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.sectiononecontent{
    display: flex;
    justify-content: center;
    gap: 75px;
}

.sectiononecontent h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: -20px;
}

.sectiononecontent p {
    font-size: 18px;
    color: #e5e7eb;

}

.sectiononetext{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 400px;
    margin-bottom: 55px;
}

.sectiononeimage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex: 1;
}

.sectiononeimage img {
    height: 200px;
    width: 350px;
    border-color: black;
    border-style: double;
}

.sectionone-signup {
    background-color: #3882f6;
    border-radius: 5px;
    border-width: 2px;
    color: white;
    width: 80px;
    height: 30px;
    border: none;
}

.sectiontwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.sectiontwotext{
    display: flex;
}

.square {
    display: flex;

}

.sectionthree{
    display: flex;
    background-color: #e5e7eb;

}

.sectionthreetext{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0px 250px;
    font-size: 28px;
    font-style: italic;
    color: #1f2937;
    padding: 80px 80px;
   
}
.sectionthreetext span{
    display: block;
    font-weight: bold;
    font-size: 25px;
    text-align: right;
    padding-right: 50px;
}

.sectionfour{
 

}

.sectionfour-container{
    display: flex;
    margin: 100px 250px;
    padding: 0px;
    background-color: #3882f6;
    border-radius: 5px;
    width: auto;
    gap: 150px; 
    padding: 20px 50px;
}

.sectionfourtext{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.sectionfourtext span {
    font-weight: bold;
    font-size: 20px;
}

.sectionfoursubtext{
    display: flex;
    justify-content: center;
    align-items: center;
}



.sectionfour-signup{
    background-color: #3882f6;
    border-radius: 5px;
    border-color: white;
    border-width: 2px;
    color: white;
    border: solid;

}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}